name: Hola Mundo # Nombre del flujo de trabajo

on: [push] # Evento que activa el flujo de trabajo

jobs: # Trabajos que se ejecutarán
  hola: # Nombre del job
    runs-on: ubuntu-latest # Sistema operativo en el que se ejecutará el job

    steps: #Pasos que se ejecutarán
    - name: Hola Mundo # Nombre del paso
      run: echo "Hola Mundo" # Comando que se ejecutará
  
  other: # Nombre del job
    runs-on: ubuntu-latest # Sistema operativo en el que se ejecutará el job

    steps: #Pasos que se ejecutarán
    - name: ls # Nombre del paso
      run: ls -al # Comando que se ejecutará